:root {
  --cyan: hsl(171, 66%, 44%);
  --lblue: hsl(233, 100%, 69%);
  --dblue: hsl(210, 10%, 33%);
  --gblue: hsl(201, 11%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}
section {
  width: 80%;
  margin: auto;
}
.images {
  width: 60%;
}
h1 {
  font-size: 20px;
  color: var(--dblue);
}
h2 {
  margin: 20px;
  font-size: 16px;
}
#hero {
  margin: 60px auto;
}
#track {
  margin-bottom: 100px;
}
#access {
  margin-bottom: 100px;
}
p {
  margin-bottom: 20px;
}
.btn {
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  width: 100%;
  margin: 10px;
  border-radius: 25px;
  width: 200px;
}
.btn:hover {
  opacity: 80%;
  cursor: pointer;
}
.iOS {
  background-color: var(--cyan);
  border-bottom: 2px solid hsl(170, 57%, 40%);
}
.mac {
  background-color: var(--lblue);
  border-bottom: 2px solid hsl(233, 23%, 49%);
}
.logos {
  width: 50%;
  margin: 10px auto;
}
#company {
  margin-bottom: 100px;
}
.items:hover {
  cursor: pointer;
text-decoration: underline;
}
.socialicons:hover{
    cursor: pointer;
}

main {
  /* width: 80%; */
  text-align: center;
  margin: 20px auto;
}
.buttons {
}
@media screen and (min-width: 401px) {
    body{
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
    }
  .twoparts {
    display: flex;
    margin-top: 50px;
  }
  #computer {
    height: fit-content;
    margin: auto;
    margin-right: 20px;
    /* margin-left: -20%; */
  }
  .work {
    display: flex;
    margin-top: 50px;
  }
  #company {
    margin-top: 50px;
    display: flex;
  }
  .logos {
    width: 10%;
    height: fit-content;
  }
  #downbuttons {
    width: 50%;
  }
  #footerlogo {
    width: 50px;
  }
  #footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 30px auto;
  }

  footer {
    display: none   ;
  }
  .footlinks {
    width: 40%;
    display: flex;
    font-size: 12px;
    justify-content: flex-start;
  }
  .socialicons{
    margin: 10px;
  }
  .items {
    margin: 20px;
  }
}
@media screen and (max-width: 400px) {
    body{
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
        width: 100%;
    }
  #logo {
    width: 40%;
  }
  .btn {
    width: 100%;
  }
  .svgs {
    width: 15%;
  }
  p {
    color: var(--gblue);
    font-size: 12px;
  }
  .images {
    width: 100%;
  }
  #footerlogo {
    width: 15%;
  }
  #footer {
    margin-top: 100px;
    color: var(--dblue);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .items {
    margin: 10px;
    font-size: 12px;
  }
  .socialicons {
    margin: 20px 10px;
    width: 15px;
  }
}
